.addUser {
  width: 400px;
  height: max-content;
  padding: 30px;
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  flex-grow: 1;
  background-color:white;
  color: black;
}

.searchButton {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #1a73e8;
  color: white;
  cursor: pointer;
  border: none;
}

.user {
  margin-left: 50px;
  margin-top: 50px;
 
  display: flex;
  justify-content: center;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center
}

.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  margin-left: 10px;
  font-size: 16px;
  color: white;
}

.addUserButton {
  padding: 10px;
  border-radius: 10px;
  background-color: #1a73e8;
  color: white;
  cursor: pointer;
}
